src/main/resources/jod-wsdl/UploadSoapService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<definitions 
targetNamespace="http://jod.upload.postecom.it" 
	name="UploadSoapService" 
	xmlns="http://schemas.xmlsoap.org/wsdl/" 
	
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" 
	xmlns:tns="http://jod.upload.postecom.it" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	
	
	
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	
	
	xmlns:wsaws="ttp://www.w3.org/2005/08/addressing"
	xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy"
	xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"
>
  <types>
    <xsd:schema>
      <xsd:import namespace="http://jod.upload.postecom.it" schemaLocation="UploadSoapService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="end">
    <part name="parameters" element="tns:EndUploadRequestWrapper"/>
  </message>
  <message name="endResponse">
    <part name="parameters" element="tns:EndUploadResponseWrapper"/>
  </message>
  <message name="errorDescription">
    <part name="parameters" element="tns:errorDescription"/>
  </message>
  <message name="errorDescriptionResponse">
    <part name="parameters" element="tns:ErrorDescriptionResponseWrapper"/>
  </message>
  <message name="macroservices">
    <part name="parameters" element="tns:macroservices"/>
  </message>
  <message name="macroservicesResponse">
    <part name="parameters" element="tns:MacroServicesResponseWrapper"/>
  </message>
  <message name="filepart">
    <part name="parameters" element="tns:FilePartUploadRequestWrapper"/>
  </message>
  <message name="filepartResponse">
    <part name="parameters" element="tns:UploadResponseWrapper"/>
  </message>
  <message name="init">
    <part name="parameters" element="tns:InitUploadRequestWrapper"/>
  </message>
  <message name="initResponse">
    <part name="parameters" element="tns:IdUploadResponseWrapper"/>
  </message>
  <message name="status">
    <part name="parameters" element="tns:StatusEndUploadRequestWrapper"/>
  </message>
  <message name="statusResponse">
    <part name="parameters" element="tns:StatusUploadResponseWrapper"/>
  </message>
  <portType name="UploadSoapService">
    <operation name="end">
      <input wsam:Action="http://jod.upload.postecom.it/UploadSoapService/endRequest" message="tns:end"/>
      <output wsam:Action="http://jod.upload.postecom.it/UploadSoapService/endResponse" message="tns:endResponse"/>
    </operation>
    <operation name="errorDescription">
      <input wsam:Action="http://jod.upload.postecom.it/UploadSoapService/errorDescriptionRequest" message="tns:errorDescription"/>
      <output wsam:Action="http://jod.upload.postecom.it/UploadSoapService/errorDescriptionResponse" message="tns:errorDescriptionResponse"/>
    </operation>
    <operation name="macroservices">
      <input wsam:Action="http://jod.upload.postecom.it/UploadSoapService/macroservicesRequest" message="tns:macroservices"/>
      <output wsam:Action="http://jod.upload.postecom.it/UploadSoapService/macroservicesResponse" message="tns:macroservicesResponse"/>
    </operation>
    <operation name="filepart">
      <input wsam:Action="http://jod.upload.postecom.it/UploadSoapService/filepartRequest" message="tns:filepart"/>
      <output wsam:Action="http://jod.upload.postecom.it/UploadSoapService/filepartResponse" message="tns:filepartResponse"/>
    </operation>
    <operation name="init">
      <input wsam:Action="http://jod.upload.postecom.it/UploadSoapService/initRequest" message="tns:init"/>
      <output wsam:Action="http://jod.upload.postecom.it/UploadSoapService/initResponse" message="tns:initResponse"/>
    </operation>
    <operation name="status">
      <input wsam:Action="http://jod.upload.postecom.it/UploadSoapService/statusRequest" message="tns:status"/>
      <output wsam:Action="http://jod.upload.postecom.it/UploadSoapService/statusResponse" message="tns:statusResponse"/>
    </operation>
  </portType>
  <binding name="SoapServicePortBinding" type="tns:UploadSoapService">
	<wsp:PolicyReference URI="#UploadSoapServicePortBindingPolicy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="end">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="errorDescription">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="macroservices">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="filepart">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="init">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="status">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
  </binding>
  
    <wsp:Policy wsu:Id="UploadSoapServicePortBindingPolicy">
  <wsp:ExactlyOne>
    <wsp:All>
	<wsaws:UsingAddressing xmlns:wsaws="http://www.w3.org/2006/05/addressing/wsdl" />
		<sp:SupportingTokens>
			<wsp:Policy>
				<sp:UsernameToken
					sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">				
                         <wsp:Policy>
						<sp:WssUsernameToken10 />
					</wsp:Policy>
				</sp:UsernameToken>
			</wsp:Policy>
		</sp:SupportingTokens>
		<wsss:ValidatorConfiguration wspp:visibility="private" xmlns:wsss="http://schemas.sun.com/2006/03/wss/server" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy">
			<wsss:Validator name="usernameValidator" classname="org.jod.ft.realm.UploadServicePasswordValidator" />
			</wsss:ValidatorConfiguration>
	</wsp:All>
   </wsp:ExactlyOne>
</wsp:Policy>
  
  <service name="UploadSoapService">
    <port name="SoapServicePort" binding="tns:SoapServicePortBinding">
      <soap12:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

